/* 
.footer-text {
    color: white;
    text-align: justify;
}
.footer{
 height: 20% !important;
}
.footer-text-center {
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    text-align: center;
} */
