@font-face {
	font-family: "VarienRegular";
	src: url('/fonts/Varien.otf');
}
.menueContainer {
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-decoration: none !important;
	color: white;
	margin-top: 5%;
	font-family: "Varien";
  
}
.link{
	margin-right: 8%;
}