.header {
	height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	text-decoration: none !important;
}

.man {
	margin-left: 36%;
}
.main{
	color:black !important;
}
.navbar {

	--bs-navbar-color: initial; /* Annule la couleur définie par Bootstrap */
	--bs-navbar-color: whitesmoke !important;  /* Remplace par la couleur de texte souhaitée */
}
.men{
	
	margin-top: 2%;
	color: black;
}