

.textinfo {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}

.point {
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background-color: #df7058; 
  margin-right: 20px; 
  box-shadow: 0 0 10px 5px rgba(223, 112, 88, 0.8); 
}


.text {
  font-size: 20px; 
  color: #333; 
}
