@media (max-width: 768px) {
	.menueContainer {
	  flex-direction: column; 
	  height: auto;
	}
  
	.link {
	  margin: 10px 0; 
	  margin-right: 0;
	}
  }
  
  @media (max-width: 480px) {
	.fixed-menu {
	  padding: 10px; 
	}
  
	.menueContainer {
	  padding: 0 10px; 
	}
  
	.link {
	  font-size: 0.9rem; 
	}
  }
@font-face {
	font-family: "VarienRegular";
	src: url('/fonts/Varien.otf');
}
.fixed-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	color: #fff;
  }
.menueContainer {
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	text-decoration: none !important;
	color: white;
	margin-top: 5%;
	font-family: "Arvo", serif;
  font-weight: 700;
	cursor: pointer;
}
.link{
	margin-right: 8%;
	text-decoration: none; 
  color: inherit; 
}