.txt {
    color: black;
    font-size: 2.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -164%);
  }
  
  .txt2 {
    color: black;
    font-size: 4rem;
    opacity: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
  }
  .projectlink {
    text-decoration: none; 
    color: inherit; 
  }
  
  .projectlink:hover {
    text-decoration: none; 
  }